@page "/solicitations"
@using PGTech_io.Controllers
@using PGTech_io.Components.Modals
@using PGTech_io.Components.UI_Model
@using PGTech_io.DTO
@inject SenderController SenderController
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Solicit</PageTitle>

<h1>Solicit</h1>

@if(isVisible)
{
    <DataTable TModel="SenderDTO"
               Items="ListSolicitations"
               AllowRowSelection="true"
               RowClickedEvent="SelectedRowItem"
               SelectedItemCssClass="bg-info">
        
        <DataTableColumn TModel="SenderDTO"
                         IsSortable="true"
                         IsFilterable="true"
                         IsVisible="false"
                         Property="(e) => e.Id"/>
        
        <DataTableColumn TModel="SenderDTO"
                         IsSortable="true"
                         IsFilterable="true"
                         Property="(e) => e.UserName"
                         CustomTitle="Usuario"/>

        <DataTableColumn TModel="SenderDTO"
                         IsSortable="true"
                         IsFilterable="true"
                         Property="(e) => e.Client"     
                         CustomTitle="Cliente"/>

        <DataTableColumn TModel="SenderDTO"
                         IsSortable="true"
                         IsFilterable="true"
                         Property="(e) => e.Sector"
                         CustomTitle="Sector"/>

        <DataTableColumn TModel="SenderDTO"
                         IsSortable="true"
                         IsFilterable="true"
                         Property="(e) => e.Subsector"
                         CustomTitle="Subsector"/>

        <DataTableColumn TModel="SenderDTO"
                         IsSortable="true"
                         IsFilterable="true"
                         IsVisible="false"
                         Property="(e) => e.Problemdescription"/>

        <DataTableColumn TModel="SenderDTO"
                         IsSortable="true"
                         IsFilterable="true"
                         Property="(e) => e.Createdwhen"/>

        <DataTableColumn TModel="SenderDTO"
                         IsSortable="true"
                         IsFilterable="true"
                         IsVisible="false"
                         Property="(e) => e.Updatedwhen"/>
        
        <DataTableColumn TModel="SenderDTO"
                         IsSortable="true"
                         IsFilterable="true"
                         IsVisible="true"
                         Property="(e) => e.isAnswered"/>
    </DataTable>
}

<!--
<p>Answered: @ifAnswered</p>
<p>SelectedRow: @selectedSender?.ToString()</p>
<button class="btn btn-primary" @onclick="GetSolicitation">GetOne Solicitation (Once Please)</button>
<button class="btn btn-primary" @onclick="CreateSolicitation">Solicit Test</button>
<ResponseModal @ref="modalRes" IsUpdate="@isUpdate" Solicit="SelectedSolicitation" OnOperationCompleted="OnAfterModalOperation"></ResponseModal>
-->

<button type="button" class="btn btn-primary" @onclick="UpsertRow">Upsert</button>
<button type="button" class="btn btn-primary" @onclick="RespondRow">Responder</button>
<button type="button" class="btn btn-primary" @onclick="ViewRow">Ver</button>

<SenderModal @ref="modalSolicit" onOperationCompleted="OnAfterModalOperation"></SenderModal>
<ResponseModal @ref="modalResponse" onOperationCompleted="OnAfterModalOperation"></ResponseModal>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

<!--<AuthorizeView Roles="Admin">
    <Authorized>
        <ResponseModal @ref="modalResponse" OnOperationCompleted="OnAfterModalOperation"></ResponseModal>
    </Authorized>
    <NotAuthorized>
        <p>Incorrect privileges</p>
    </NotAuthorized>
</AuthorizeView>-->

<ViewModal @ref="modalView" OnOperationCompleted="OnAfterModalOperation"></ViewModal>

<p>@dataInput</p>

@code {
    private SenderModal? modalSolicit;
    private ResponseModal? modalResponse;
    private ViewModal? modalView;
    private bool isModalVisible = false;
    private List<SenderDTO?> ListSolicitations { get; set; }
    private SenderDTO? selectedSender { get; set; } = new();
    private string dataInput = "";
    private bool isVisible = false;
    private bool isUpdate = false;
    private bool showModal = false;
    private string ifAnswered = "";
    private string? userId = "";
    
    protected override async Task OnInitializedAsync()
    {
        await setUser();
        ListSolicitations = new List<SenderDTO?>(await SenderController.GetAll());
        Console.Write($"Solicitations in List: {ListSolicitations.Count}");
        Console.Write($"UserId = {userId}");
    }

    private async Task setUser()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        
        if (@user.Identity is { IsAuthenticated: true })
        {
            userId = @user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        }
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isVisible = true;
            StateHasChanged();
        }
        return Task.CompletedTask;
    }
    
    private async Task OnAfterModalOperation()
    {
        ListSolicitations = new List<SenderDTO?>(await SenderController.GetAll());
        StateHasChanged();
    }
    
    private async Task OpenSolicitModal()
    {
        try
        {
            if (modalSolicit is not null)
            {
                var parameters = new ModalParameters(isUpdate, true, userId, selectedSender);
                await modalSolicit.OnShowOperatorModalClick(parameters);
            }
        }
        catch (InvalidOperationException ex)
        {
            Console.WriteLine("Modal open failed: " + ex.Message);
        }
    }
    
    private async Task OpenResponseModal()
    {
        if (selectedSender == null || selectedSender.Id == 0) return;
        
        try
        {
            if (modalResponse is not null)
            {
                var parameters = new ModalParameters(false, true, userId, selectedSender);
                await modalResponse.OnShowResponseModalClick(parameters);
            }
        }
        catch (InvalidOperationException ex)
        {
            Console.WriteLine("Modal open failed: " + ex.Message);
        }
    }

    private async Task OpenViewModal()
    {
        if (selectedSender == null || selectedSender.Id == 0) return;
        
        try
        {
            if (modalView is not null)
            {
                var parameters = new ModalParameters(false, true, userId, selectedSender);
                await modalView.OnShowModalClick(parameters);
            }
        }
        catch (InvalidOperationException ex)
        {
            Console.WriteLine("Modal open failed: " + ex.Message);
        }
    }
    
    private async Task SelectedRowItem(SenderDTO sender)
    {
        if (!showModal && selectedSender != sender)
        {
            selectedSender = sender;
            isUpdate = true;
            Console.WriteLine("Selected Solicitation -> " + sender.ToString());
            Console.WriteLine(sender.Client);
        }
    }
    
    
    private async Task UpsertRow()
    {
        await OpenSolicitModal();
        await Task.CompletedTask;
    }
    
    private async Task RespondRow()
    {
        await OpenResponseModal();
        await Task.CompletedTask;
    }
    
    private async Task ViewRow()
    {
        await OpenViewModal();
        await Task.CompletedTask;
    }
}